[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
djangorestframework-jwt = {version = "*", index = "https://pypi.douban.com/simple"}
coreapi = "*"
pygments = "*"
drf-yasg = "*"
django-cors-headers = "*"
pyyaml = "*"
httprunner = "==1.5.8"
django-celery = "*"
redis = "*"
msgpack = "*"

[dev-packages]

[requires]
python_version = "3.8"
